
@font-face {
    font-family:"mazzard-h-black";
    src:url("./files/MazzardH-Black.otf") format("woff"),
    url("./files/MazzardH-Black.otf") format("opentype"),
    url("./files/MazzardH-Black.otf") format("truetype");
}

@font-face{
    font-family:"mazzard-h-black-italic";
    src:url("./files/MazzardH-BlackItalic.otf") format("woff"),
    url("./files/MazzardH-BlackItalic.otf") format("opentype"),
    url("./files/MazzardH-BlackItalic.otf") format("truetype");
}

@font-face{
    font-family:"mazzard-h-bold";
    src:url("./files/MazzardH-Bold.otf") format("woff"),
    url("./files/MazzardH-Bold.otf") format("opentype"),
    url("./files/MazzardH-Bold.otf") format("truetype");
}

@font-face{
    font-family:"mazzard-h-bold-italic";
    src:url("./files/MazzardH-BoldItalic.otf") format("woff"),
    url("./files/MazzardH-BoldItalic.otf") format("opentype"),
    url("./files/MazzardH-BoldItalic.otf") format("truetype");
}

@font-face{
    font-family:"mazzard-h-extrabold";
    src:url("./files/MazzardH-ExtraBold.otf") format("woff"),
    url("./files/MazzardH-ExtraBold.otf") format("opentype"),
    url("./files/MazzardH-ExtraBold.otf") format("truetype");
}

@font-face{
    font-family:"mazzard-h-extrabold-italic";
    src:url("./files/MazzardH-ExtraBoldItalic.otf") format("woff"),
    url("./files/MazzardH-ExtraBoldItalic.otf") format("opentype"),
    url("./files/MazzardH-ExtraBoldItalic.otf") format("truetype");
}

@font-face{
    font-family:"mazzard-h-extralight";
    src:url("./files/MazzardH-ExtraLight.otf") format("woff"),
    url("./files/MazzardH-ExtraLight.otf") format("opentype"),
    url("./files/MazzardH-ExtraLight.otf") format("truetype");
}